body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0b16356b;
  color: #fff;
}

header {
  background-color: #333333;
  padding: 20px;
  text-align: center;
}

.logo img {
  width: 150px;
}

.intro {
  background-color: #2c2f33;
  padding: 20px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.employee-type {
  background-color: #2c2f33;
  padding: 20px 0;
}

.employee {
  border-bottom: 1px solid #555;
  padding: 10px 0;
}

.employee:last-child {
  border-bottom: none;
}

.highlight {
  color: #ff9900;
}

.emphasize {
  color: #007bff;
}

.open {
  color: #28a745;
}

.closed {
  color: #dc3545;
}

.work {
  background-color: #2c2f33;
  padding: 20px 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ffffff33;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  margin-left: auto;
  margin-top: 10px;
}

.toggle-label:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #28a745;
}

.toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(20px);
}

.project {
  background-color: #444;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, background-color 0.5s;
  margin-bottom: 20px;
  text-align: center;
}

.project:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 250px;
  height: auto;
  margin-top: 20px;
  border-radius: 20px;
}

.project-info {
  padding: 15px;
}

.project-info h3 {
  font-size: 18px;
  margin: 0;
  color: #fff;
}

.project-info p {
  font-size: 14px;
  color: #ccc;
  margin-top: 10px;
}

.collapseContainer {
  background-color: #2c2f33;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapsible {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: auto;
  padding: 20px;

  transition: background-color 0.3s ease;
}

.collapsible:hover {
  background-color: #218838;
}

.collapsible.active {
  background-color: #dc3545;
}

.collapsible:after {
  content: "\02795";
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}
